@import "../../../styles/global.scss";

.mainContent,
.sideContent {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.contentCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.courseContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  gap: 1rem;
}

.eventContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: auto;
}
