@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$light-primary-color: #186e2a;
$light-secondary-color: #e2ad39;
$light-tertiary-color: #852926;

$light-primary-text: #1d1d1d;
$light-primary-background: #fcfcfc;

$light-anchor-color: #2e6b3c;
$light-hovered-color: #257a37;

$light-yellow-color-100: #ffd255;

$light-green-color-100: #aeffae;
$light-green-color-200: #3c853c;

$light-gray-color: #dbdbdb;
$light-blue-color: #cbeaff;

$trans-smooth: cubic-bezier(.26,0,.26,1);

