@import "../../styles/global.scss";

.searchBar {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   background-color: $light-primary-background;
   gap: 0.7rem;
   border-radius: $small-radius;
   border: 1px solid $light-gray-color;
   padding: 0 1rem;
   
   input {
      border: none;
      background: none;
      outline: none;
      width: 100%;
   }
}
