@import "../../styles/global.scss";

.line {
  background-color: $light-gray-color;
}

.formContainer {
  .userContainer {
    gap: 1.5rem;

    .title {
      font-size: 1.6rem;
    }
    .desc {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    .badge {
      font-weight: 500;
    }
  }

  .userInfo {
    .studentId {
      display: flex;
      align-items: center;
      gap: 0.3rem;
    }
  }

  .buttonContainer {
    justify-content: flex-end;
  }
}
