@import "../../styles/global.scss";

.card {
   display: flex;
   align-items: center;
   gap: 1.5rem;
   width: 100%;

   .dateContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $light-green-color-100;
      border: 1px solid $light-green-color-300;
      padding: 1rem 0;
      width: 6rem;
      border-radius: 0.5rem;

      .dateMonth {
         font-size: 0.8rem;
         text-transform: uppercase;
      }
      
      .dateDay {
         font-size: 1.7rem;
         font-weight: 600;
      }
   }

   .infoContainer {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      .infoTitle {
         font-size: 1rem;
         font-weight: 500;
      }

      .infoStatus {
         text-transform: uppercase;
         opacity: 0.5;
      }

      .infoDesc {
         max-width: 50ch;
      }
   }
}
