@import "../../styles/global.scss";

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   padding: 3rem;
   background-color: #f0f0f0;

   .content {
      display: flex;
      flex-direction: column;
      background-color: $light-primary-background;
      border: 1px solid $light-gray-color;
      padding: 2rem;
      width: max-content;
      border-radius: $default-radius;

      .head {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         margin-bottom: 2rem;

         img {
            width: 10rem;
         }

         .title {
            font-size: 2.7rem;
            margin: 1.5rem 0;
         }

         .desc {
            max-width: 60ch;
         }
      }

      form {
         display: flex;
         flex-direction: column;
         width: 100%;

         label {
            display: inline-block;
            margin-bottom: 0.5rem;
         }

         .usernameInput {
            padding: 1rem;
            outline: none;
            border: 1px solid $light-gray-color;
            width: 100%;
            margin-bottom: 1rem;
         }

         .buttonContainer {
            display: flex;
            align-items: center;
            gap: 1.5rem;
         }
      }
   }
}
