@import "../../../../styles/global.scss";

::-webkit-scrollbar {
   width: 4px;
}

::-webkit-scrollbar-thumb {
   background: $light-gray-color;
   border-radius: 4px;
}

.wrapper {
   display: flex;
   height: 100vh;
   width: 100%;
}

.gridContainer {
   display: grid;
   grid-template-columns: 15% auto;
   height: 100%;
   width: 100%;

   .contentWrapper {
      display: flex;
      flex-direction: column;
      height: 100vh;
      overflow: hidden;

      .dividerWrapper {
         overflow: hidden;
         padding: 1.5rem;
         height: 100%;

         .contentDivider {
            display: grid;
            grid-template-columns: 75% 1fr;
            gap: 1rem;
            height: 100%;

            .mainContent,
            .sideContent {
               display: flex;
               flex-direction: column;
               overflow: hidden;
               gap: 1rem;
            }
         }
      }
   }
}

section {
   background-color: $light-primary-background;
   padding: 1.5rem;
   border-radius: 0.5rem;
}

.sectionLabel {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   margin-bottom: 1.3rem;

   .labelText {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 1.3rem;
      font-weight: 500;
      gap: 0.5rem;
   }
}

.previewClasses,
.previewEvents .previewAnnouncements {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.previewClasses {
   .sectionContent {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      flex-grow: 1;
   }
}

.twoColumn {
   // display: flex;
   .sectionContent {
      display: flex;
      flex-direction: column;
      max-height: 18rem;
      overflow-y: auto;
      gap: 2rem;
   }
}

.previewSchedule {
   display: flex;
   flex-direction: column;
}

.previewAssignments {
   flex-grow: 1;
   overflow: hidden;

   .sectionContent {
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      max-height: 88%;
      gap: 1rem;
   }
}

.previewEvents, .previewAnnouncements, .previewAssignments {
   .sectionContent {
      padding-right: 0.7rem;
   }
}
