@import "../../styles/global.scss";

.popup {
   position: fixed;
   right: 0;
   bottom: 0;
   opacity: 0;
   visibility: hidden;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem;
   width: 27rem;
   height: max-content;
   margin: 2rem;
   background-color: $light-primary-background;
   border-radius: 0.5rem;
   transform: scale(95%);
   transition: 300ms cubic-bezier(0.34, 0, 0.13, 1);
   
   .iconContainer {
      display: flex;
      align-items: center;
      gap: 1rem;
   }
   
   .title {
      font-weight: 600;
   }

   .message {
      font-size: 0.85rem;
   }

   .closeBtn {
      cursor: pointer;
   }
}

.popup.show {
   opacity: 1;
   visibility: visible;
   transform: scale(100%);
   transition: 300ms cubic-bezier(0.34, 0, 0.13, 1);
}
