@import "../../styles/global.scss";

.popupContent {
   position: fixed;
   z-index: 99;
   border: 1px solid $light-gray-color;
   background: $light-primary-background;
   border-radius: 0.5rem;
   transform: scale(98%);
   box-shadow: $light-box-shadow-gray;
   opacity: 0;
   transition: 300ms $trans-smooth;
   
   &.user {
      top: 5rem;
      right: 1.5rem;
   }

   &.notif {
      top: 5rem;
      right: 7rem;
   }
}

.show {
   opacity: 1;
   transform: scale(100%);
}
