@import "../../../../styles/global.scss";

.header {
   display: grid;
   gap: 0.5rem;

   .title {
      text-transform: none;
      font-size: 2.5rem;
   }
}

.tableWrapper {
   flex: 1;

   .role,
   .title {
      text-transform: capitalize;
   }

   .lastActive,
   .createdAt {
      color: $light-gray-color-600;
   }
}

.popupWrapper {
   padding: 0.5rem;

   .popupContent {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      button {
         background-color: transparent;
      }

      .iconCta {
         width: 100%;
         padding: 0.7rem;
         border-radius: 0.5rem;
         justify-content: flex-start;
         transition: 200ms $trans-smooth;

         &:hover {
            background-color: $light-gray-color-100;
         }
      }

      .deleteBtn {
         color: #e22828;
      }
   }
}
