@import "../../styles/global.scss";

.card {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
   max-width: 100%; 

   .wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
      
      .iconContainer {
         color: $light-gray-color-600;
         background-color: $light-gray-color-200;
         width: max-content;
         padding: 0.5rem;
         border-radius: 0.5rem;
      }

      .infoContainer {
         h2 {
            font-size: 1rem;
            font-weight: 500;
         }

         p {
            font-size: 0.85rem;
         }
      }
   }
}
